* {
    /* border: 1px solid green; */
    box-sizing: border-box;
    font-family: lato,sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.calccontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: rgb(166, 175, 175);
    border-radius: 10px;
    border: 2px #333 solid;
}

.btn {
    height: 80px;
    width: 80px;
    margin: 5px 5px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    
}

.bigbtn {
    height: 80px;
    width: 170px;
}

#clear {
    background-color: rgb(255, 155, 109);
}

#delete {

}

.calcdisplay {
    width: 350px;
    height: 80px;
    background-color: lightslategray;
    margin: 15px 20px;
    border-radius: 5px;
    border: 2px #333 solid;
}

.buttoncontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
}

.cleardelete{
    display: flex;
    justify-content: space-between;
}

.calcheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
    margin-top: 10px;
}

.solarpanel {
    width: 100px;
    background-color: rgb(90, 53, 28);
    border: 2px #333 solid;
    border-radius: 5px;
    height: 25px;
}